* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.pdf__panel__mount__point {
  position: fixed;
  top: 10%;
  left: 0;
  z-index: 100;
  box-shadow: 0 0 1px black;

  height: 80%;

  overflow: auto;

  background-color: white;
}

.perf__viewer {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  max-height: 80%;

  overflow: auto;

  background-color: white;
}

.perf__viewer td {
  padding: 0.5rem;

  text-align: left;
}

.perf__viewer .toolbar {
  position: sticky;
  top: 0;
  padding: 0.5rem;

  background-color: white;
}
