.pdf__annotation--editor {
  cursor: move;

  box-shadow: 0 0 1px black;
}

.pdf__annotation--editor.pdf__annotation--dragging {
  opacity: 0;
}

.pdf__annotation__mover {
  width: 100%;
  height: 100%;
}

.pdf__annotation__resizer {
  position: absolute;

  width: 2rem;
  height: 2rem;
}

.pdf__annotation__resizer--topleft {
  top: 0;
  left: 0;
}

.pdf__annotation__resizer--topright {
  top: 0;
  right: 0;
}

.pdf__annotation__resizer--bottomright {
  bottom: 0;
  right: 0;
}

.pdf__annotation__resizer--bottomleft {
  bottom: 0;
  left: 0;
}
