.pdf__page__annotation--editor {
  cursor: move;

  box-shadow: 0 0 1px black;
}

.pdf__page__annotation__mover {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.pdf__page__annotation__resizer {
  position: absolute;
}

.pdf__page__annotation__resizer--topleft {
  top: 0;
  left: 0;
}

.pdf__page__annotation__resizer--topright {
  top: 0;
  right: 0;
}

.pdf__page__annotation__resizer--bottomright {
  bottom: 0;
  right: 0;
}

.pdf__page__annotation__resizer--bottomleft {
  bottom: 0;
  left: 0;
}
