.pdf__editor__extractor {
  position: fixed;
  left: 10%;
  top: 10%;
  display: flex;
  flex-direction: column;

  width: 80%;
  height: 80%;

  box-shadow: 0 0 0.25rem gray;

  background-color: white;
}

.pdf__editor__extractor .pdf__thumbnails {
  flex: 1;
}
