.pdf__editor__stamps {
  position: fixed;
  left: 0;
  top: 10%;

  width: 10rem;
  height: 80%;

  box-shadow: 0 0 1px black;
  background-color: white;
}

.pdf__editor__stamp {
  border: 1px solid gray;

  cursor: move;
}

.pdf__editor__stamp canvas {
  width: 100%;
}

.pdf__editor__stamp.pdf__editro__stamp--dragging {
  opacity: 0;
}
