.pdf__ui__button,
.pdf__ui__select,
.pdf__ui__input {
  padding: 0.5rem;
}

.pdf__ui__button {
  cursor: pointer;
}

.pdf__ui__button--icon {
  padding: 0.25rem;

  text-align: center;
  vertical-align: middle;
}

.pdf__ui__icon {
  display: inline-block;
}

.pdf__ui__icon svg {
  width: 1rem;
  height: 1rem;
}

.pdf__ui__toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 0.25rem;
  box-shadow: 0px 1px 0px #cccccc;

  width: 100%;

  background-color: white;
}

.pdf__ui__toolbar__item__group {
  flex: 1;
}

.pdf__ui__form__field {
  padding: 0.5rem;
}

.pdf__ui__dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pdf__ui__dialog__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}

.pdf__ui__dialog__header__title {
  flex: 1;
}

.pdf__ui__dialog__content {
  padding: 1rem 0;
}

.pdf__ui__dialog__footer {
  padding: 1rem;
}
