* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.pdf__application--edit .pdf__page__annotation--link {
  border: 1px solid black;

  opacity: 0.5;
}

.pdf__document {
  position: relative;
}

.pdf__toolbar__container {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

canvas {
  display: block;
  margin: 4px auto;
  border: 1px solid black;
}
